TZ=Asia/Shanghai

ASTRBOTEX_IMAGE=astrbotex:local
ASTRBOTEX_CONTAINER_NAME=astrbotex
ASTRBOTEX_PORT=8765
ASTRBOTEX_TICK_HZ=20
ASTRBOTEX_BASE_URL=http://192.168.43.119:8765
ASTRBOT_BASE_URL=http://127.0.0.1:8766
ASTRBOTEX_SESSION_ID=astrbotex_default
ASTRBOTEX_TIMEOUT_SEC=10
ASTRBOTEX_TTS_TIMEOUT_SEC=30
ASTRBOTEX_STT_ENABLED=true
ASTRBOTEX_TTS_ENABLED=true

ASTRBOT_IMAGE=soulter/astrbot:latest
ASTRBOT_CONTAINER_NAME=astrbot
ASTRBOT_WEB_PORT=6185
ASTRBOT_PLATFORM_PORT=6199
ASTRBOT_INTERACTION_PORT=8766

NAPCAT_IMAGE=mlikiowa/napcat-docker:latest
NAPCAT_CONTAINER_NAME=napcat
NAPCAT_PORT=6099
NAPCAT_UID=1000
NAPCAT_GID=1000
